center{
    background-image: url('https://cdn.pixabay.com/photo/2016/02/22/09/44/chess-1215079_1280.jpg');
}
marquee{
  color: white;
  background: black;
}

h3{
  margin: 0px;
}
#chess{
    background-color: blue;
    height: 500px;
    width: 500px;
    border: 2px solid black;
  }
  .black{
    background-color: black;
    height: 62.5px;
    width: 62.5px;
    float: left;
    
  }
  .white{
    float: left;
    background-color: white;
    height: 62.5px;
    width: 62.5px;
  }
  .troop{
      background-image: url("file:///C:/Users/PRASAD/Desktop/Vs%20Code/Ns_chess/42-427051_white-chess-knight-icon.jpg") !important;
      background-size: 62.5px 62.5px;
  }
  [chess='pos']{
      background-color: red;
      border-radius:25px;
  }
  